<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Customers</title>
</head>
<body>
	<h1>MarketDemo - Customers</h1>

	<table>
		<thead>
			<tr>
				<th>IMAGE</th>
				<th>ID</th>
				<th>NAME</th>
				<th>LASTNAME</th>
				<th>AGE</th>
				<th>BIRTHDAY</th>
				<th>SEX</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="customer : ${customers}">
				<td><img th:alt="${customer.id}" th:src="${mediaTemplate.getURL(customer.getImageId(ID_THUMBNAIL))}"/></td>
				<td th:text="${customer.id}" />
				<td th:text="${customer.names}" />
				<td th:text="${customer.lastNames}" />
				<td th:text="${customer.age}" />
				<td th:text="${#temporals.format(customer.birthday, 'dd/MM/yyyy')}" />
				<td th:text="${customer.sex}" />
			</tr>
		</tbody>
	</table>
</body>
</html>
